# =========================
# AtCoder 自動テストツール設定
# =========================

# ブラウザで AtCoder にログインし、
# 開発者ツールを開いて
# Application タブ → Storage → Cookies →
# https://atcoder.jp を選択してください。
# （すでに選択されている場合もあります）
# 一覧の中から REVEL_SESSION の Value をコピーしてください。
# ※ この値は機密情報です。第三者に共有しないでください。
ATCODER_REVEL_SESSION=

# 使用するブラウザ
# ウィンドウタイトルに含まれる文字列を指定してください
# 例:
#   Edge
#   Chrome
#   Firefox
#   Safari
#   Brave
BROWSER=Edge

# 使用するエディタ
# ウィンドウタイトルに含まれる文字列を指定してください
# 例:
#   Visual Studio Code
#   Sublime Text
#   Atom
#   Notepad++
#   Vim
#   Emacs
#   IntelliJ IDEA
#   PyCharm
EDITOR=Visual Studio Code

# ソースコードのパス
SRC_PATH=./solve/solve.py